.Code {
  border: 1px solid var(--primary-color);
  padding: 20px;
  position: relative;
  background: var(--code-bg);
  overflow: auto;
}

.CodeRedesigned {
  padding: 35px 20px 20px;
  position: relative;
  background: var(--light-bg-redesigned);
  border: 1px solid var(--accent-redesigned);
  display: flex;
  border-radius: 16px;
}

.copyBtn {
  position: absolute;
  right: 12px;
  top: 12px;
}

.copyIcon path {
  stroke: var(--primary-color);
}

.code {
  max-width: 800px;
  overflow-wrap: break-word;
}
