.container {
  display: flex;
  gap: 24px;
  width: 100%;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

@media screen and (max-width: 450px) {
  .container {
    flex-direction: column;
    gap: 16px;
  }
}