.RegistrationForm {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.input {
  margin-top: 10px;
}

.loginBtn {
  margin-top: 15px;
  margin-left: auto;
}

.loader {
  display: flex;
  justify-self: center;
  align-self: center;
  align-content: center;
  justify-content: center;
}

@media screen and (max-width: 450px) {
  .RegistrationForm {
    width: 100%;
  }
}
