.app_custom_theme {
  --bg-color: #3a3a66;
  --inverted-bg-color: #52528f;
  --primary-color: #0b5ffa;
  --secondary-color: #5bb3ee;
  --inverted-primary-color: #eee;
  --inverted-secondary-color: #ccc;

  // redesigned
  --dark-bg-redesigned: #FFF3D6;
  --bg-redesigned: #F0C048;
  --light-bg-redesigned: #F2D791;
  --text-redesigned: #1B1311;
  --hint-redesigned: #B8B2A2;
  --cancel-redesigned: #FF5E5E;
  --save-redesigned: #52FA81;
  --icon-redesigned: #4875F0;
  --accent-redesigned: #1D59FF;

  // skeleton
  --skeleton-color: #46467a;
  --skeleton-shadow: #595970;

  // code
  --code-bg: #c9c9de;

  // card
  --card-bg: #3f3f70;

  // listbox background
  --listbox-bg: #3f3f70;
}
