.app_custom_theme {
  --bg-color: #3a3a66;
  --inverted-bg-color: #52528f;
  --primary-color: #fac46c;
  --secondary-color: #5bb3ee;
  --inverted-primary-color: #fff;
  --inverted-secondary-color: #ccc;
}
