.app_custom_theme {
  --bg-color: #3a3a66;
  --inverted-bg-color: #52528f;
  --primary-color: #0b5ffa;
  --secondary-color: #5bb3ee;
  --inverted-primary-color: #eee;
  --inverted-secondary-color: #ccc;

  // skeleton
  --skeleton-color: #46467a;
  --skeleton-shadow: #595970;

  // code
  --code-bg: #c9c9de;

  // card
  --card-bg: #3f3f70;

  // listbox background
  --listbox-bg: #3f3f70;
}
