.app_dark_theme {
  --bg-color: #212121;
  --inverted-bg-color: #c2c2de;
  --primary-color: #afe0af;
  --secondary-color: #188fd7;
  --inverted-primary-color: #411972;
  --inverted-secondary-color: #361450;
}
