.app_light_theme {
  --bg-color: #c2c2de;
  --inverted-bg-color: #b1b1fa;
  --primary-color: #7a33d7;
  --secondary-color: #2f1248;
  --inverted-primary-color: #172317;
  --inverted-secondary-color: #188fd7;

  // redesigned
  --dark-bg-redesigned: #FFFFFF;
  --bg-redesigned: #EFF5F6;
  --light-bg-redesigned: #E2EEF1;
  --text-redesigned: #141C1F;
  --hint-redesigned: #ADBCC0;
  --cancel-redesigned: #FF7777;
  --save-redesigned: #62DE85;
  --icon-redesigned: #5ED3F3;
  --accent-redesigned: #00C8FF;

  // skeleton
  --skeleton-color: #8e84a1;
  --skeleton-shadow: #9d9db9;

  // code
  --code-bg: #c9c9de;

  // card
  --card-bg: #d2d2ef;

  // listbox background
  --listbox-bg: #d2d2ef;
}
