:root {
    --bg-color: #c2c2de;
    --inverted-bg-color: #212121;
    --primary-color: #411972;
    --secondary-color: #cd93ff;
    --inverted-primary-color: #afe0af;
    --inverted-secondary-color: #188fd7;
}
