:root {
  --bg-color: #1d1d26;
  --inverted-bg-color: #2c2c3b;
  --primary-color: #fac46c;
  --secondary-color: #5bb3ee;
  --inverted-primary-color: #5bb3ee;
  --inverted-secondary-color: #361450;

  // skeleton
  --skeleton-color: #3d3db6;
  --skeleton-shadow: #7070ad;

  // code
  --code-bg: #414157;

  // card
  --card-bg: #272733;

  // listbox background
  --listbox-bg: #272733;
}
