.MainLayout {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
          'sidebar content rightbar';
  grid-template-columns: min-content 1fr 100px;
}

.sidebar {
  grid-area: sidebar;
  padding: 32px;
  max-width: 284px;
}

.content {
  grid-area: content;
  max-width: 1200px;
  justify-self: center;
  padding: 32px;
  width: 100%;
}

.rightbar {
  grid-area: rightbar;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header {
  white-space: nowrap;
}

.topHeader {
  display: none;
}

.rightbar,
.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
}

.toolbar {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 450px) {
  .MainLayout {
    grid-template-areas:
          'header header'
          'sidebar content';
    grid-template-columns: min-content 1fr;
    grid-template-rows: 50px 1fr;
  }

  .header {
    grid-area: header;
  }

  .topHeader {
    grid-area: header;
    display: flex;
    padding-right: 5px;
    justify-self: end;
  }

  .rightbar {
    display: none;
  }

  .content {
    padding: 20px 0 0 60px;
    margin-right: 5px;
  }

  .sidebar {
    padding: 5px;
    height: 100vh;
    position: fixed;
  }
}
