.TextArea {
  border-radius: 20px;
  padding: 16px;
  border: 1px solid var(--icon-redesigned);
  width: 100%;
  color: var(--text-redesigned);
  background: none;
  resize: none;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.TextArea::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.code {
  background: var(--light-bg-redesigned);
}

.max {
  width: 100%;
}