.TextArea {
  border-radius: 20px;
  padding: 16px;
  border: 1px solid var(--icon-redesigned);
  width: 100%;
  color: var(--text-redesigned);
  background: none;
  resize: none;
}

.code {
  background: var(--light-bg-redesigned);
}

.max {
  width: 100%;
}