.StickyContentLayout {
  display: grid;
  grid-template-areas:
            'left content right';
  grid-template-columns: min-content 1fr min-content;
}


.left {
  grid-area: left;
}

.content {
  grid-area: content;
  max-width: 1200px;
  justify-self: center;
  padding: 0 16px;
  width: 100%;
}

.right{
  grid-area: right;
}

.left,
.right {
  position: sticky;
  top: 32px;
  height: fit-content;
}

@media screen and (max-width: 450px) {
  .StickyContentLayout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
    gap: 10px;
  }

  .content {
    grid-area: 2 / 1 / 3 / 3;
    padding: 0 5px;
    width: 100%;
  }

  .right {
    grid-area: 1 / 1 / 2 / 2;
    position: static;
    justify-self: center;
    align-self: center;
  }

  .left {
    grid-area: 1 / 2 / 2 / 3;
    position: static;
    width: fit-content;
    justify-self: center;
    align-self: center;
  }
}

